<html>
  <head></head>
  <body>
    <p>
      <form method = "GET" action = "/solved">
        True Symbol: <input type="text" name="truth">
    <br/>
    False Symbol: <input type="text" name="fals">
    <br/>
	 Size(2^x): <input type="text" name="power">
    <br/>
        <input type='submit' value='Show Truth Table' />
      </form>

	<a href="/">Back to main</a>
  </body>
</html>