<html>
  <head></head>
  <h1 id=header> ERROR </h1>
  <body>
    <p>
    You must have 2 different characters for true and false, and an integer larger than 2 for the power

	<a href="/">Back to main</a>
  </body>
</html>